form label.dropfile_zone {
    position: relative;
}
form .input_file {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter_item.disabled,
.dropdown_option.disabled {
    color: gray!important;
}
.filter_item.disabled:hover {
    border-color: #fff;
    color: gray;
}
.filter_column.checked .filter_item,
.dropdown_option.checked .filter_item{
    border-color: #00A1E3;
    color: #00A1E3;
}

.filter_column.checked .filter_item:not(.disabled) .filter_icon svg path,
.dropdown_option.checked .filter_item:not(.disabled) .filter_icon svg path {
    fill: #00A1E3;
}

.checked .dropdown_filter_item {
    color: #00A1E3;
}
.dropdown_option.disabled .dropdown_filter_item {
    color:gray;
}
